<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="enter username" type="text">
    </br>
    </br>
        <textarea name="content" id="text" placeholder="enter content"></textarea>
    </br>
        <button>Submit</button>
    </form>
</body>
</html>