<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail post</title>
</head>
<body>
    <h2>Here is you post</h2>
    <p>post id : <%= post.id %></p>
    <div class="post">
        <h2>@<%=post.username%></h2>
        <h3><%= post.content %></h3>
    </div>
</body>
</html>